h1{
    color: rgb(255, 255, 255);
    font-size: 2em;
    text-align: center;
}

nav{
    background-color: #ca8585;
    color: rgb(145, 98, 98);
    padding: 10px;
}

nav h1{
    margin: 0;

}

nav ul{
    list-style: none;
    padding: 0;
}

nav ul li{
    display: inline;
    margin-right: 20px;
    }

    section{
        padding: 20px;
        background-color: #d1a7a7;
        margin: 20px 0;
    }

    section h2{
        color: #fff;
        font-size: 1.5em;
    }

    section p{
        color: #ffffff;
        font-size: 1em;
    }